.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 124px auto 0;
}

.title {
  font-size: 30px;
}

.listItemButtons {
  min-width: 165px;
  margin-left: 30px;
}

.listItemButtons :not(:first-child) {
  margin-left: 16px;
}

.footer {
  padding: 40px 20px;
  text-align: center;
}
