.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 124px auto 0;
}

.title {
  font-size: 30px;
  text-align: center;
}

.label {
  width: 140px;
}

.createButtonWrapper {
  text-align: center;
}

.createButton {
  min-width: 240px;
}

.footer {
  padding: 40px 20px;
  text-align: center;
}
